<div class="max-w-prose mx-auto">
  <footer class="w-full px-8 py-8 text-center border-t border-black/10">
    <p class="text-sm md:text-base text-[#4D4D4D] font-light tracking-tight leading-relaxed">
      &copy; {new Date().getFullYear()} <span class="brand">Alan Rivero Gorinstein</span><br />
      Written by hand in San Francisco.
    </p>
  </footer>
</div>