<nav class="px-6 py-4 flex justify-between items-center border-b">
  <a href="/" class="brand text-lg">ALAN RIVERO GORINSTEIN</a>
  <ul class="flex gap-4 text-sm">
    <li><a href="/">Home</a></li>
    <li><a href="/about">About</a></li>
  </ul>
</nav>