@import "tailwindcss";

.border-e1 {
  border-color: #E1E1E1;
}

body, h1, h2, h3, h4, h5, h6, p, a, li, span {
  font-family: "indivisible", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h2, h3 {
  font-family: "adobe-kis-variable", serif;
  font-variation-settings: "opsz" 12, "wght" 300;
}

.brand {
  font-family: "adobe-kis-variable", serif;
  font-variation-settings: "opsz" 12, "wght" 300;
}
